*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

input{
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
}

label{
    margin: 10px;
    color: white;
}

button{
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;

    background: linear-gradient(0.25turn,red,orange);
}

